  body{
	font-family: arial;
	padding-left: 50px;
  }
img{
	width: 50%;
	border-radius: 5px 70px;
}
a{
color: red;
font-family: tahoma;
}
a:hover{
color: tomato;
font-family: tahoma;
}
.hh1{
color:tomato;
}

#copyright{
font-size:14px;
}